{% load static %}
{% load sitetree %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FakeNew5!</title>
    <meta name="description" content="FakeNew5">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="theme-color" content="#21618C"/>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/blog-home.css' %}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body>
    <!--Top Navigation -->
    {% block navigation %}
        {% sitetree_menu from "main_menu" include "trunk,topmenu" template "main_menu.html" %}
    {% endblock %}
    <!--End Top Navigation -->
    <div class="container">
        <main>
            <!-- Page Content -->
            <div class="container">
                <div class="row">
                    <!-- Page Heading/Breadcrumbs -->
                    {% block breadcrumbs %}
                        {% sitetree_breadcrumbs from "main_menu" template "breadcrumbs.html" %}
                    {% endblock %}
                    <!-- End Page Heading/Breadcrumbs -->

                    {% block content %}{% endblock %}
                    <!-- Blog Sidebar Widgets Column -->
                    {% block right_sidebar %}
                        {% include "right_sidebar.html" %}
                    {% endblock %}
                    <!-- End Blog Sidebar Widgets Column -->
                </div>
            </div>
        </main>
    </div>
    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; FakeNew5! {% now " F Y" %}</p>
            </div>
        </div>
    <!-- End Footer -->
    </footer>
    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>