{% block right_sidebar %}
    <div class="col-md-4">
        <!-- Blog Twitter Widget -->
        <div class="well">
            <h4>#fakeNews</h4>
            <div class="row pre-scrollable">
                <div class="col-md-5">
                <ul class="twitter-feed">
                    {% for t in tweeter_feeds %}
                    <li class="twitter-tweet">
                        <p>
                            {{ t.text }}
                            <br>
                             <a href="https://www.twitter.com/{{t.user.screen_name}}/status/{{t.id}}" target="_blank" rel="nofollow,noindex"><span class="label label-info">@{{ t.user.screen_name }}</span></a> | <span class="label label-info">{{t.created_at}}</span>
                        </p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
        </div>

        <!-- Side Widget Well -->
        <div class="well">
            {% for item in widgetItems %}
            <h4></h4>
            <p></p>
            {% endfor %}
        </div>

    </div>
{% endblock %}